{% extends "layout.html" %}
{% block body %}
<style>
    /* CSS cho button */
    .center-align-button {
        margin-top: 70px !important;
        display: flex;
        justify-content: center;
        margin-top: 10px; /* Khoảng cách giữa các paragraphs và button bên dưới */
    }

    .spinner-border {
        display: none;
    }



</style>
<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Check japanese</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Check japanese</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-content">

    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <li><a class="nav-link text-left active" id="v-pills-from-file-tab" data-toggle="pill"
                                       href="#v-pills-from-file" role="tab" aria-controls="v-pills-home"
                                       aria-selected="true">From file</a></li>
                                <li><a class="nav-link text-left" id="v-pills-from-folder-tab" data-toggle="pill"
                                       href="#v-pills-from-folder" role="tab" aria-controls="v-pills-profile"
                                       aria-selected="false">From folder</a></li>
                            </ul>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-from-file" role="tabpanel"
                                     aria-labelledby="v-pills-from-file-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="was-validated">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                           id="validatedFromJPFile"
                                                           required>
                                                    <label class="custom-file-label" for="validatedFromJPFile">Choose
                                                        file...</label>
                                                    <div class="invalid-feedback">invalid file
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-from-folder" role="tabpanel"
                                     aria-labelledby="v-pills-from-folder-tab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="was-validated">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input"
                                                           id="validatedCustomFolder"
                                                           required>
                                                    <label class="custom-file-label" for="validatedCustomFolder">Choose
                                                        folder...</label>
                                                    <div class="invalid-feedback">invalid folder
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ tabs ] end -->

        <div class="col-sm-12">
            <div class="card">
                <div class="card-body table-border-style">
                    <div class="row">
                        <div class="table-responsive">
                            <table id="connection-table" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>SheetName</th>
                                    <th>cell adress</th>
                                    <th>Vietnamese value</th>
                                </tr>
                                </thead>
                                <tbody>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- [ Main Content ] end -->
</div>


{% endblock %}